@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background: wheat;
  font-family: 'Roboto', sans-serif;
}

.container {
  background: rgb(192, 191, 191);
  padding: 2rem 3rem 3rem;
  border-radius: 0.5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

h1 {
  margin: 0;
  padding: 0 0 2rem 0;
  font-size: 3rem;
  color: wheat;
  text-shadow: 2px 2px 1px black;
}

.input {
  border: 1px solid rgb(131, 119, 98);
  border-radius: 0.3em;
  padding: 0.25rem;
  width: 7rem;
  box-shadow: 1px 1px 1px black;
}

select {
  margin-left: 0.5rem;
  border: 1px solid rgb(131, 119, 98);
  padding: 0.15rem;
  border-radius: 0.3em;
  box-shadow: 1px 1px 1px black;
}

.equals {
  font-weight: bold;
  font-size: 2rem;
  color: rgb(230, 206, 162);
  text-shadow: 2px 2px 1px black;
}

